 /* Estilos de elementos */
 body {
    padding: 10px 60px;
    background-color: beige;
}
header {
    /* border: 1px solid red; */
    padding: 5px;
}
header > div {
    width: 100%;
}
h2 {
    margin-top: 20px;
    font-style: italic;
    font-size: xx-large;
}
section {
    padding-top: 30px;
}

/* Classes para elementos especificos */
div.topbar {
   /* border: 1px solid red; */
    padding: 15px;
}
ul.nav {
    list-style:  none;
}
ul.nav > li {
    padding: 5px 10px;
}
ul.nav > li > a {
    color: rgb(48, 162, 48);
    text-decoration: none;
}
div.testemunho {
    text-align: center;
}
div.perguntas {
    text-align: left;
    padding-bottom: 20px;
}
a.semlinha {
    text-decoration: none;
}
h3 {
    color:rgb(48, 162, 48);
    line-height: 5px;
    margin-block-start: 30px;
    font-size: medium;
    text-decoration: none;
}
h4 {
    color: rgb(48, 162, 48);
    text-decoration: none;
}

/* Estilos para elementos unicos (id) */
#logo {
    width: 50px;
}


/* Classes para qualquer elemento */
.w40 {
    width: 40%;
}
.w60 {
    width: 60%;
}
.w100 {
    width: 100%;
}
.flex {
    display: flex;
}
.px20 {
    padding-left: 20px;
    padding-right: 20px;
}
.bred {
    border: 1px solid blue;
}
@media screen and (max-width: 640px) and (max-width: 768px) and (max-width: 1024px) and (max-width: 1280px){
    body {
        padding: 2px;
    }
    .w40, .w60 {
        width: 100%;
    }
    .flex {
        display: block;
    }
}


